<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Phase3">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Phase3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movies"
        android:usesCleartextTraffic="true">
        <activity android:name=".instructor_profile"/>
        <activity android:name=".activity_course_history"/>
        <activity android:name=".activity_student_list"/>

        <activity android:name=".student_profile"/>
        <activity android:name=".TranscriptActivity"/>
        <activity android:name=".activity_login"/>
        <activity android:name=".activity_sign_up"/>
        <activity android:name=".activity_admin_create_alert"/>
        <activity android:name=".add_parent_activity"/>
        <activity android:name=".ParentProfileActivity" />

        <activity android:name=".activity_welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>